.ui-mobile-viewport h1.banner {
		background-image: url(../img/idNycLogo.png);
		background-size: 85px 40px;
		background-position: 3px 0;
		padding: 9px 0 0 100px;
		overflow: hidden;
}
h1.banner span{
	font-size: 30px;
}
.hours {
	margin: 5px 0;
	font-size: 14px !important;
	font-weight: bold;
}
div.subway-icon {
	display: inline-block;
	font-weight: bold;
	text-align: center;
	padding: 2px 0;
	width: 22px;
	margin-right: 3px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 16px;
}
div.subway-icon div {
	color: #fff;
}
.subway-1, .subway-2, .subway-3 {
	background-color: #ff3433;
}
.subway-4, .subway-5, .subway-6 {
	background-color: #009d33;
}
.subway-7 {
	background-color: #c801cc;
}
.subway-A, .subway-C, .subway-E {
	background-color: #0e689a;
}
.subway-B, .subway-D, .subway-F {
	background-color: #fa9705;
}
.subway-G {
	background-color: #98cd01;
}
div.subway-J, div.subway-M, div.subway-Z {
	background-color: #9d6400;
}
.subway-L, .subway-S {
	background-color: #999999;
}
div.subway-N, div.subway-Q, div.subway-R {
	background-color: #ffff0c;
}
div.subway-N div, div.subway-Q div, div.subway-R div {
	color: #000;
}
div.express {
	padding: 0;
	width: 18px;
	border-radius: 0;
	transform: rotate(45deg);
	margin: 4px;
}
div.express div {
	transform: rotate(-45deg);
}
#lang-btn {
  position: fixed;
  left: 3px;
  bottom: 80px;
  z-index: 2;
}
.icon.permanent, .icon.popup, .icon.financial, .icon.permanent.cultural {
	background-repeat: no-repeat;
	background-position: cetner;
	background-size: 21px 21px;
}
.icon.permanent {
	background-image: url(../img/permanent.svg);
}
.icon.popup {
	background-image: url(../img/popup.svg);
}
.icon.financial {
	background-image: url(../img/financial.svg);
}
.icon.cultural {
	background-image: url(../img/cultural.svg);
}
